In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\shiva\Downloads\Cutlets.csv")
df.columns

Index(['Unit A', 'Unit B'], dtype='object')

In [13]:
from scipy.stats import ttest_ind
from scipy.stats import shapiro
from scipy.stats import levene

# for normality check
stat1, p_value_unit1 = shapiro(df['Unit A'])
stat2, p_value_unit2 = shapiro(df['Unit B'])

# Levene or bartletts test for homogeneity of variances
statistic, p_value = levene(df['Unit A'], df['Unit B'])

# Perform ind two-sample t-test for Hypothesis test
t_stat, p_value_ttest = ttest_ind(df['Unit A'], df['Unit B'])


print(f'statistic1: {stat1},p_value_unit_01:{p_value_unit1}')
print(f'stastistic2:{stat2},p_value_unit_02:{p_value_unit2}')

statistic1: 0.9649459719657898,p_value_unit_01:0.31998491287231445
stastistic2:0.9727305769920349,p_value_unit_02:0.5225146412849426

In [4]:
print(f'Levene test p-value for homogeneity of variances: {statistic,p_value}')
print(f'Independent Two-Sample t-test p-value: {p_value_ttest}')

if p_value_ttest < 0.05:
    print('We are rejecting the null hypothesis. There is a significant difference.')
else:
    print('we are accepting the null hypothesis. There is no significant difference.')

Levene test p-value for homogeneity of variances: (0.6650897638632386, 0.4176162212502553)
Independent Two-Sample t-test p-value: 0.4722394724599501
we are accepting the null hypothesis. There is no significant difference.

# Q2

In [5]:
df1 = pd.read_csv(r"C:\Users\shiva\Downloads\LabTAT.csv")
df1

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [6]:
from scipy.stats import f_oneway 
df1 = pd.read_csv(r"C:\Users\shiva\Downloads\LabTAT.csv")

# Performimg one way Anova
f_stat, p_value = f_oneway(df1['Laboratory 1'], df1['Laboratory 2'], df1['Laboratory 3'], df1['Laboratory 4'])

print(f'One-way ANOVA: F_statistic = {f_stat}, p_value = {p_value}')

# Check significance at 5% level,so 5 divided by 100 = 0.05.
if p_value < 0.05:
    print('There is difference in average TAT among the laboratories.')
else:
    print('There is no difference in average TAT among the laboratories.')

One-way ANOVA: F_statistic = 118.70421654401437, p_value = 2.1156708949992414e-57
There is difference in average TAT among the laboratories.

# Q3

In [7]:
df3 = pd.read_csv(r"C:\Users\shiva\Downloads\BuyerRatio.csv")
df3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [8]:
from scipy.stats import chi2_contingency
import scipy.stats as stat

In [30]:
df3 = pd.DataFrame({
    'Region': ['East', 'West', 'North', 'South'],
    'Males': [50, 142, 131, 70],
    'Females': [435, 1523, 1356, 750]
})
df3.set_index('Region', inplace=True)
print("\nDataFrame:")
print(df3)

# chisquare test of independence
chi2_stat, p_value,dof,exp_fre_tab = chi2_contingency(df3)
print('Chi-Square Stat:', chi2_stat)
print('P-value:',p_value)
print('Degree_of_fredom:',dof)
print('Expected_frequency_tabel:\n',exp_fre_tab)

# level of significance =0.05 = 5%.
if p_value < 0.05:
    print("There is significant difference in male-female buyer ratios across regions.")
else:
    print("There is no significant difference in male-female buyer ratios across regions.")

DataFrame:
        Males  Females
Region
East       50      435
West      142     1523
North     131     1356
South      70      750
Chi-Square Stat: 1.5959455386610577
P-value: 0.6603094907091882
Degree_of_fredom: 3
Expected_frequency_tabel:
 [[  42.76531299  442.23468701]
 [ 146.81287862 1518.18712138]
 [ 131.11756787 1355.88243213]
 [  72.30424052  747.69575948]]
There is no significant difference in male-female buyer ratios across regions.

# Q4

In [10]:
from scipy.stats import chi2_contingency
import scipy.stats as stat
df4 = pd.read_csv(r"C:\Users\shiva\Downloads\Costomer+OrderForm.csv")
df4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [33]:
#Center = (['Phillippines'],['Indonesia'],['Malta'],['India'])
#Defective = (['Error free'],['Defective'])

df4 = pd.DataFrame({
    'Center': ['Phillippines', 'Indonesia', 'Malta', 'India'],
    'Defective': [
        ['Error free', 'Defective'],
        ['Error free', 'Defective'],
        ['Error free', 'Defective'],
        ['Error free', 'Defective']
    ]
})

# Create a contingency table
contingency_table = pd.crosstab(df4['Center'], df4['Defective'].apply(lambda x: x[1]))

print('\nContingency Table:')
print(contingency_table)
# Perform Chi-Square Test for Independence
chi2_stat, p_value,dof,exp_frq_tab = chi2_contingency(contingency_table)

print(f'Chi-Square Statistic: {chi2_stat}')
print(f'P_value: {p_value}')
print(f'Degree-of-fredom: {dof}')
print(f'Expected_frequency_tabel: {exp_frq_tab}')


if p_value < 0.05:
    print("There is a significant variation in defective percentage by center.")
else:
    print("There is no significant variation in defective percentage by center.")

Contingency Table:
Defective     Defective
Center
India                 1
Indonesia             1
Malta                 1
Phillippines          1
Chi-Square Statistic: 0.0
P_value: 1.0
Degree-of-fredom: 0
Expected_frequency_tabel: [[1.]
 [1.]
 [1.]
 [1.]]
There is no significant variation in defective percentage by center.